@model IEnumerable<PRN211_HE170436_Project.Models.Product>

<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Products Management</a>
    <div class="dropdown-menu rounded-0 m-0">
        <a href="/Products/Create" class="dropdown-item">Add Product</a>
        <a href="/Products/Edit" class="dropdown-item">Edit Product</a>
        <a href="/Products/Delete" class="dropdown-item">Delete Product</a>       
    </div>
</div>
